<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chanaka.propertymanager">

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqiRzayqPfU1aMQWaVbsu_Q_DMAKxGoMU" />

        <activity
            android:name=".Views.Home"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.View_Tenants_info"
            android:label="@string/title_activity_view__tenants_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Payment_info"
            android:label="@string/title_activity_payment_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.AddProperty"
            android:label="@string/title_activity_add_property"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.AlertsInfo"
            android:label="@string/title_activity_alerts_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.TenantHome" />
        <activity android:name=".Views.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.UserRegister" />
        <activity android:name=".Views.Search_Apartment" />
        <activity android:name=".Views.ResultApartments" />
        <activity android:name=".Views.RateApartment" />
        <activity android:name=".Views.MyApartment" />
        <activity android:name=".Views.UpdateTenant"></activity>
    </application>

</manifest>